body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Outfit";
  overflow: hidden;
}

body {
  display: flex;
  height: 100vh;
  margin-left: 30%;
  font-family: "Outfit";
  background-color: #f5f5f5;
}

.image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  position: relative;
  top: 2;
  margin-bottom: 5%;
  z-index: 3;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.background-video {
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  opacity: 1.5;
}

.background-video-content {
  position: relative;
}

video[poster] {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.login-card {
  top: 20%;
  margin-bottom: 30px;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  border-radius: 20px;
  padding: 58px 42px 58px 42px;
  height: 550px;
  width: 512px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.login-card h1 {
  margin-bottom: 10px;
  font-family: "Outfit";

  font-size: 34px;
  color: #333;
  text-align: center;
}

.login-card p {
  font-weight: 400;
  font-family: "Outfit";

  margin: 5px 0 20px;
  color: #666;
  text-align: center;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card label {
  width: 150px;
  height: 19px;
  font-size: outfit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.64px;
  color: #666666;
  align-items: start;
  text-align: start;
  margin-right: 65%;
}

.login-card input {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

input::placeholder {
  width: 184px;
  height: 19px;
  padding: 13px 0 px 0px 21px;
  color: #66666699;
  font-size: 14px;
  font-family: outfit;
  inline-height: 17.64px;
  font-weight: 400;
  opacity: 1;
}

.login-card .forgot {
  text-align: start;
  justify-self: start;
  margin-left: 0px;
  color: #e34b4b;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}
.login-card .forgot p {
  color: #000000;
}

.login-card button {
  height: 58px;
  width: 100%;
  padding: 15px 150px;
  border: none;
  border-radius: 30px;
  margin: -20px 0px -30px 0px;
  background-color: #111111;
  color: white;
  font-size: 18px;
}

.login-card .signup {
  margin-top: 50px;
  color: #666;
}

.login-card .signup a {
  color: #0c0d0e;
  text-decoration: underline;
  font-weight: bold;
}

.login-card .signup a:hover {
  text-decoration: underline;
}
