.sales-table {
    margin-bottom: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #F4F5FC;
  }
  
  #button a{
    color: orange;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* #button:hover {
    color: darkorange;
  } */
  
  .Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 4px;
    }
  
    .Pagination .MuiPaginationItem-root {
      border-color: rgb(136, 213, 255);
      margin: 0 !important;
    }
    
    .Pagination .Mui-selected {
      background-color: rgb(111, 202, 255) !important;
      color: white !important;
    }
  
  .Pagination button {
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 158, 237);
  }
  